@use "sass:map";
@import "../../assets/styles/styles";

%results {
  @media (min-width: map.get($breakpoints, "medium")) {
    height: calc(100% - #{$header_height} - #{$footer_height});
  }

  display: flex;
  justify-content: center;
  width: 100%;
}

.Results {
  @extend %results;
}

.Results--empty {
  @extend %results;
  align-items: center;
}

.Results__item {
  @media (min-width: map.get($breakpoints, "medium")) {
    display: flex;
    width: 50%;
  }

  background-color: #ececec;
  border-bottom: 1px solid #dbdbdb;
  overflow: hidden;
  padding: 1rem;

  aside {
    margin-right: 1rem;
  }

  img {
    border: 1px solid #2e2e2e;
    width: inherit;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
  }
}
