@use "sass:map";

@import "../../assets/styles/styles";
@import "../../assets/styles/variables";

/**
 * BookEntry
 */

.BookEntry {
  border-bottom: 1px solid #dbdbdb;
  overflow-y: auto;
}

.BookEntry__section {
  @media (min-width: map.get($breakpoints, "medium")) {
    display: flex;
    width: 50%;

    aside {
      margin-right: 1rem;
    }
  }

  height: calc(100vh - #{$header_height});
  // padding: 1rem;

  aside {
    padding: 1rem;
  }

  img {
    border: 1px solid #2e2e2e;
    margin-bottom: 1rem;
    width: inherit;
  }
}

.BookEntry__details {
  padding: 1rem;

  @media (min-width: map.get($breakpoints, "medium")) {
    p {
      max-width: 60%;
    }
  }

  h1 {
    line-height: 100%;
    margin-top: 1rem;
  }
}

/**
 * Annotations
 */

.Annotations {
  border-top: 1px solid rgba(#000, 0.1);
  height: 50%;

  h2 {
    margin: 2rem 0 0 1rem;
  }
}

.Annotations__list {
  list-style: none;
  margin: 0;
  margin-bottom: calc(#{$footer_height} + 2rem);
  padding: 1rem;
}

.Annotations__item {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(#000, 0.1);
  margin-bottom: 1rem;
  padding: 1rem;

  header {
    align-items: center;
    display: flex;
    font-size: 0.875rem;
    justify-content: space-between;
  }

  &:hover {
    box-shadow: 0 2px 3px 0 rgba(#000, 0.15);
  }
}

.Annotations__wrapper {
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.Annotations__footer {
  align-items: center;
  background-color: #eee;
  border-top: 1px solid #dbdbdb;
  bottom: calc(-1rem - 1px); // compensate for padding-top of Annotations
  display: flex;
  height: 8rem;
  margin-top: 1rem;
  padding: 1rem;
  position: absolute;
  width: 100%;
  z-index: 100;

  h4 {
    margin-bottom: 0.5rem;
  }
}
