@use "sass:map";

@import "../../assets/styles/styles";
@import "../../assets/styles/variables";

/**
 * Home
 */

.Home {
  height: inherit;
}

.Home__section {
  align-items: center;
  display: flex;
  height: calc(100vh - #{$header_height});
  justify-content: center;
}
