@use "sass:map";
@import "./assets/styles/styles";

/**
 * App
 */

.App {
  height: inherit;

  > footer {
    @media (max-width: map.get($breakpoints, "medium")) {
      display: none;
    }

    background-color: #202020;
    height: $footer_height;
  }
}
